.title {
  text-align: center;
  font-size: 35px;
  padding-top: 5px;
  background-color: #73000a;
  color: white;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
  flex-wrap: nowrap;
}
.acc-child {
  overflow-y: auto;
  height: 200px !important;
}
.user {
  padding: 0;
  font-size: 30px;
}
.container {
  overflow-y: auto;
  height: 89vh !important;
  padding: 0;
  margin-left: -16px;
}
.proposalCall {
  width: 100%;
  border: 1px solid;
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: gray;
  padding: 5px;
  padding-bottom: 0px;
}

.active {
  background-color: white;
}

.proposal-call__detail {
  border: 1px solid;
  width: 100%;
  height: 73vh;
  overflow-y: auto;
  border-radius: 10px;
  background: #73000a;
  color: white;
}
.login {
  text-align: center;
  float: right;
  margin-top: 5px;
  font-size: 23px;
  margin-right: 5px;
  display: none;
}
.logout {
  text-align: center;
  float: right;
  margin-top: 5px;
  font-size: 23px;
  margin-right: 5px;
  display: block;
}

.user-info {
  background: burlywood;
  border: 1px solid;
  margin-bottom: 5px;
  margin-left: -10px;
  border-radius: 2px;
}
.form-group {
  width: 50%;
  text-align: center;
}
div.dataTables_length {
  padding-left: 2em;
  }
  div.dataTables_length,
  div.dataTables_filter {
      padding-top: 0.55em;
  }

/* table.dataTable th:nth-child(7) {
  width: 200px;
  max-width: 200px;
  word-break: break-all;
  white-space: pre-line;
}

table.dataTable td:nth-child(7) {
  width: 200px;
  max-width: 200px;
  word-break: break-all;
  white-space: pre-line;
}

table.dataTable th:nth-child(1),
table.dataTable th:nth-child(2) {
  width: 50px;
  max-width: 50px;
  word-break: break-all;
  white-space: pre-line;
}

table.dataTable td:nth-child(1) table.dataTable td:nth-child(2) {
  width: 50px;
  max-width: 50px;
  word-break: break-all;
  white-space: pre-line;
} */
